.wrap-user-page {
	width: 30%;
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .recipes-title {
  font-size: 25pt;
  }
}

@media screen and (max-width: 1000px) {
  .add-recipe-btn {
    position: relative;
    top: 10px;
    width: 100%;
  }
  .recipes-title {
    position: relative;
    top: 75px;
  }
}