.container {
	position: relative;
	top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	margin: 20px; 
}

@media screen and (max-width: 480px) {
  .container {
  	grid-gap: 10px;
	margin: 10px; 
  }
}