.container {
	position: relative;
	top: 100px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .container {
  	top: 150px;
  	grid-gap: 10px;
	margin: 10px; 
  }
}

@media screen and (max-width: 480px) {
  .container {
  	grid-gap: 10px;
	margin: 10px; 
  }
}