input {
	width: 100%;
}

textarea {
	height: 100px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.textbox, .submit-btn {
	font-size: 25pt;
  }
  .submit-btn {
  	width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  article {
	width: 100%;
  }
}